volumes/*
!volumes/.gitkeep
expedius
*.jar
drugref2.properties
oscar.properties
docker-compose.override.yml
oscar/
docker/tomcat_oscar/*.war
.vagrant
.vagrant.v1.*
.DS_Store
*~
._*
*.sql
*.war
*.log

*.env

**pycache**
*.pyc
local.env
