*.gz
/oscar
volumes/*
!volumes/.gitkeep
*.jar
drugref2.properties
oscar.properties
docker-compose.override.yml
docker/oscar/*.war
docker/oscar/oscar
docker/faxws/faxws

.vagrant
.vagrant.v1.*
.DS_Store
*~
._*
*.gz
*.sql
*.war
*.log

*.env

**pycache**
*.pyc
local.env
*.lrz

