BACKUP_BUCKET="backups"

CLINIC_NAME="dev-test"
LOGIN_TEXT="<p>Welcome to Oscar EMR, packaged via <a href="https://openoscar.ca">OpenOSP</a><p><p>This to the OpenOSP Free Oscar Training Instance.</p><p>If you want a separate one of your own, fill out this <a href="https://docs.google.com/forms/d/1U5zOtFWE2hb6HgG9NeE9x2Ol3p9L28gUJNkSpEpksHI/edit" target="_blank">form</a>.</p><p>As a training instance, DO NOT USE REAL PATIENT DATA here. The data is not backed up, and this service is offered with out warranty of any kind. It is intended strictly for testing and training new versions of Oscar.</p>"
LOGIN_TITLE="OpenOSP"

OSCAR_TREEISH=""
OSCAR_REPO=""
LOGIN_TEXT=<div  id="login-text"><p>Welcome to Oscar EMR, packaged via <a href="https://openoscar.ca">OpenOSP</a><p><p>This to the OpenOSP Free Oscar Training Instance.</p><p>If you want a separate one of your own, fill out this <a href="https://docs.google.com/forms/d/1U5zOtFWE2hb6HgG9NeE9x2Ol3p9L28gUJNkSpEpksHI/edit" target="_blank">form</a>.</p><p>As a training instance, DO NOT USE REAL PATIENT DATA here. The data is not backed up, and this service is offered with out warranty of any kind. It is intended strictly for testing and training new versions of Oscar.</p></div>
LOGIN_TITLE=OpenOSP
BUILD_DATE=$date_gmt
BUILD_NAME=etstestas
BUILD_NUMBER=123
