/* Insert custom css here */
body, p, * {
    font-style: italic;
}
#open-osp-custom {
    text-decoration: solid;
    font-size: small;
}
#login-text {
    width: 300px;
    word-wrap: break-word;
}
#login-logo {
    width:300px;
    height:300px;
    /* box-sizing:border-box;
    padding-left: 300px; */
    /* If you want custom images through CSS, change url here. (I still recommend adding you own logo file) */
    /* background: url('https://googlechrome.github.io/samples/picture-element/images/butterfly.jpg'); */
}