/* Insert custom css here */
body, p, * {
    font-style: italic;
}
#open-osp-custom {
    text-decoration: solid;
    font-size: small;
}
#login-text {
    width: 300px;
    word-wrap: break-word;
}
#login-logo {
    /* custom image using CSS */
    width:300px;
    height:250px;
    box-sizing:border-box;
    padding-left: 300px;
    background: url('https://googlechrome.github.io/samples/picture-element/images/butterfly.jpg');
}